.nav-cont{
    /* background-color: #b8aedd;
    background-color: #0D003C; */
    /* height: 70px; */
    position: sticky;
    top: 0px;
    position: -webkit-sticky;
    width: 100%;
    z-index: 1;
    
}
.cont-1{
    max-width: 100%;
    height: 50px;
    background-color: rgb(17, 24, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px;
    text-align: center;
}
.img-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    padding-left: 20px;
}
.img-div p{
    padding-left: 10px;
}
.lks ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    color: white;
    font-weight: bold;

}

.lks ul li{
    cursor: pointer;
    padding: 5px 10px;
}
.lks ul li:hover,.icn-cont i:hover{
    color: rgb(29 78 216 );
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 20px; */
}
.icn-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 150px; */
    position: relative;
}
.icn-cont i{
    color: white;
}
.icn i{
    position: absolute;
    left: 10px;
    top: 15px;
    color: gray;
    font-size: 15px;
}
.icn i:hover{
    color: grey;
    cursor: default;
}
.icn input{
    background-color: rgb(55, 65, 81);
    padding: 5px;
    padding-left: 40px;
    font-size: .8rem;
    border-radius: 10px;
    /* width: 130px; */
    color: white;
}
.icn input:focus{
    /* background-color: aqua; */
    border-radius: 0px;
    border: 0px;
}
.cont-2,#hamb,#mag,#chg{
    display: none;
}
.nn{
    display: none;
}
.blk{
    display: block;
}
.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.src-coin-1{
    position: absolute;
    top:35px;
    width: 193px;
    /* height: 35px; */
}
.src-coin{
    position: absolute;
    top:80px;
    width: 96%;
    left: 10px;
    z-index: 2;
}

.srh{
    display: flex;
    background-color: rgb(55, 65, 81);
    justify-content: flex-start;
    align-items: center;
    border: 1px;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
    
}
.srh:hover{
    cursor: pointer;
}
/* .src-coin .srh{
    
    justify-content: space-between;
} */
.srh p{
    padding-left: 15px;
    font-size: .7rem;padding-left: 40px;
    color: white;
}

.src-coin{
    display: none;
}
.red{
    color: red;
}
.green{
    color: green;
}
#num{
    position: absolute;
    color: white;
    /* left: 60px; */
    top: 0px;
    right: 50px;
    background-color: red;
    border-radius: 40%;
    padding: 5px;
    height: 20px;
    font-size: .5rem;
}

.uicn{
    position: absolute;
    z-index: 1;
    top:45px;
    right:0px;
    font-weight: bold;
    background-color: rgb(17, 24, 39);
    /* border: 2px solid black; */
    color: white;
}
.uicn p{
    /* transition: 1s ease; */
    padding: 10px;
}
.uicn p:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .uicn{
        right: 10px;
        font-size: .7rem;
    }
  .lks,.icn,.src-coin-1 {
    display: none;
  }
  .nn{
    display: none;
  }
  .blk,#hamb,#chg,.src-coin{
    display: block;

  }
  .cont-2{
    /* display: block; */
    max-height: 170px;
    width: 100%;
    position: absolute;
    top: 90px;
    background-color: rgb(17, 24, 39);
    height: 170px;
    transition: height 1s linear;
  }
  /* .cont-2:oncli{
    height: 170px;
  } */
  .lks-2{
    width: 100%;
    background-color: rgb(17, 24, 39);
  }
.icn-2 i{
    position: relative;
    left: 25px;
    /* top: 15px; */
    color: grey;
    /* width: 100%; */
    font-size: 15px;
}
.lks-2 ul{
    background-color: rgb(35, 47, 61);
    margin:  0 15px;
    display: flex;
    padding: 5px 0px;
    /* height: 200px; */
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    color: white;
    justify-content: space-around;
    
}
.lks-2 ul li{
    width: 95%;
    padding: 5px 25px;
    font-weight: 500;
}
.lks-2 ul li:hover{
    color: rgb(29 78 216 );
    /* padding: 5px 25px;/ */

    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 20px; */
}
.icn-2{
    background-color:rgb(17, 24, 39) ;
    height: 40px;
}
.icn-2 input{
    background-color: rgb(55, 65, 81);
    padding: 5px;
    margin-left: -5px;
    padding-left: 40px;
    font-size: .8rem;
     width: 96%; 
    border-radius: 8px;
    color: white;
}
.red{
    color: red;
}
.green{
    color: green;
}
}
