.nav{
    /* background-color: #b8aedd;
    background-color: #0D003C; */
    /* height: 70px; */
    position: sticky;
    top: 0px;
    position: -webkit-sticky;
    width: 100%;
    z-index: 1;
    
}
/* li{
    background-color: #0D003C;
} */
.nn{
    display: none;
}
.bk{
    display: block;
}
i{
    color: white;
    font-size: 20px;
    /* padding-right: 40px; */
}
i:hover{
    cursor: pointer;
}
